//Colors 

//Primary -

//intro and email sign up background
$dark-blue-intro: hsl(217, 28%, 15%);

//main background
$dark-blue: hsl(218, 28%, 13%);

//footer background
$footer-blue: hsl(216, 53%, 9%);

//testimonials background
$testimonials-blue: hsl(219, 30%, 18%);

//accent color
//inside all call to action gradient
$gradient-cyan: hsl(176, 68%, 64%);
$gradient-blue: hsl(198, 60%, 50%);

//error
$ligth-red: hsl(0, 100%, 63%);

//Neutral 
$white: hsl(0, 0%, 100%);
